.Card {
    background: seagreen;
    border-radius: 8px;
    margin: 10px;
}
.Card-list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}
.Search-box {
    padding: 10px;
    margin: 30px auto;
    display: flex;
    width: 300px;
}
.header {
    text-align: center;
    color: #d2e7ed;
    font-style: italic;
    font-size: 53px;
    border-style: dashed;
    padding-bottom: 20px;
    margin: 0;
    background: black;
}
@media screen and (max-width: 650px) {
    .Card-list {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 500px) {
    .Card-list {
        grid-template-columns: 1fr;
    }
}
